<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PouchDB Demo</title>
    <link rel="stylesheet" type="text/css" href="/app.css" />
  </head>
  <body>
    <nav>
      <h2>PouchDB Demo</h2>
      <hr />
    </nav>
    <div class="notification">
      <% if(messages.length > 0) {%> <%messages.forEach(msg => {%>
      <h4 class="message"><%=msg %></h4>
      <%})%> <%} else { %> <%} %>
    </div>


    <div>
      <br />
      <h3>Add Documents</h3>
      <form action="/todo/stream" method="POST">
        <input type="text" name="todo" id="todo" />
        <button type="submit">Add (normal document)</button>
      </form>
      <br />
      <form action="/todo/local" method="POST">
        <input type="text" name="todo" id="todo" />
        <button type="submit">Add (local document)</button>
      </form>
    </div>

    <br />
    <br />

    <hr />
    <div>
      <div class="list">
        <h3>Normal Documents</h3>
        <% if(normalTodos.length > 0) {%> <%normalTodos.forEach(todo => {%>
        <ul>
          <li><%=todo.todo %></li>
        </ul>
        <%})%> <%} else { %>
        <p>There are no documents to display...</p>
        <%} %>
      </div>

      <div class="list list2">
        <h3>Local Documents</h3>
        <% if(localTodos.length > 0) {%> <%localTodos.forEach(todo => {%>
        <ul>
          <li><%=todo.todo %></li>
        </ul>
        <%})%> <%} else { %>
        <p>There are no documents to display...</p>
        <%} %>
      </div>
    </div>
  </body>
</html>
